**/node_modules
**/dist
**/package.json
**/yarn.lock
**/package-lock.json
**/.eslintrc.js
**/tsconfig.json
**/coverage
**/build
**/src/setupTests.ts
**/.prettierrc.json 
**/public/index.html
**/README.md
