/* make the customizations */
$primary: #db3d7e;
$secondary: #0c50b0;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

body {
    overflow-y: hidden;
}

.oppanai-box-shadow {
    box-shadow: 0px 0px 3px 0px #db3d7e;
}