.oppanai-logo {
    color: #da2e75;
}

.upload-img-option {
    width: 25rem;
    transition: transform 1s;
}

.upload-img-option:hover {
    transform: scale(1.1);
}

.preview-before-edit {
    height: 35vh;
}

.preview-before-edit img {
    object-fit: scale-down;
}

.preview-on-edit img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8%;
    margin: auto;
    transition: transform 1s;
    min-width: 30px;
}

.oppanai-edit-tool-wrapper svg,
.oppanai-download svg {
    transition: transform 1s;
    background-color: #fcebf2;
}

.oppanai-edit-tool-wrapper svg:hover,
.oppanai-download svg:hover {
    transform: scale(1.2);
}

.oppanai-edit-tool-wrapper svg:focus,
.oppanai-download svg:focus {
    box-shadow: none;
}

.image-source-wrapper {
    max-height: 30%;
}

.oppanai-download {
    z-index: 1;
    position: fixed;
}

.oppanai-edit-tool-wrapper {
    position: fixed;
    bottom: 2%;
}