.oppanai-logo {
    color: #db3d7e;
}

.upload-img-option {
    width: 25rem;
    transition: transform 1s;
}

.upload-img-option:hover {
    transform: scale(1.1);
}

.preview-before-edit {
    height: 35vh;
}

.preview-before-edit img {
    object-fit: scale-down;
}

.preview-on-edit img {
    max-height: 70vh;
}

.oppanai-edit-tool-wrapper svg,
.oppanai-download svg {
    transition: transform 1s;
    background-color: #fcebf2;
}

.oppanai-edit-tool-wrapper svg:hover,
.oppanai-download svg:hover {
    transform: scale(1.2);
}

.oppanai-edit-tool-wrapper svg:focus {
    box-shadow: none;
}

.image-source-wrapper {
    max-height: fit-content;
}

.oppanai-download {
    z-index: 1;
    position: fixed;
}

.oppanai-edit-tool-wrapper {
    position: fixed;
    bottom: 2%;
}