.oppanai-logo {
    color: #db3d7e;
}

.upload-img-option {
    width: 25rem;
    transition: transform 1s;
}

.upload-img-option:hover {
    transform: scale(1.1);
}

.preview-before-edit {
    height: 35vh;
}

.preview-before-edit img {
    object-fit: scale-down;
}

.preview-on-edit img {
    max-height: 60vh;
}